# Eat Safe, Love

## Notebook Set Up

In [115]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [116]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [117]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [118]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [119]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [120]:
# Find the establishments with a hygiene score of 20
query1 = {'scores.Hygiene': {'$eq': 20}}

# Use count_documents to display the number of documents in the result
hygiene_score_eq_20_documents = establishments.count_documents(query1)
print("Number of documents in which the hygiene score is equal to 20:", hygiene_score_eq_20_documents)
print("Here's the first document:","\n")

# Display the first document in the results using pprint
results1a = establishments.find(query1)     # for use below
results1b = establishments.find_one(query1)
pprint(results1b)

Number of documents in which the hygiene score is equal to 20: 41
Here's the first document:

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('66301f735be444bbbcab0553'),
 'geocode': {'latitude': Decimal128('50.769705'),
             'longitude': Decimal128('0.27694')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [121]:
# Convert the result to a Pandas DataFrame
import pandas as pd
from pandas import json_normalize
json_results_df1 = pd.json_normalize(results1a)

# Display the number of rows in the DataFrame
print("Number of Rows in the DataFrame:", len(json_results_df1))

# Display the first 10 rows of the DataFrame
print("Here's the first 10 rows:","\n")
json_results_df1.head(10)

Number of Rows in the DataFrame: 41
Here's the first 10 rows:

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,66301f735be444bbbcab0553,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.27694,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,66301f735be444bbbcab0853,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,66301f735be444bbbcab0b67,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.15927,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,66301f735be444bbbcab0d51,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.10202,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,66301f735be444bbbcab0d77,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,66301f735be444bbbcab1707,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,66301f735be444bbbcab1926,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.7121671,51.5350065,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,66301f735be444bbbcab2e4d,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,66301f735be444bbbcab328c,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146449998021126,51.1859474182129,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,66301f735be444bbbcab3a9c,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.57005,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [122]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
# Note: A review in MongoDB Compass reveals no "London" but 37 entires of "City of London Corporation" which will
# be considered as "London"
query2 = {'LocalAuthorityName': {"$regex" : "London"},
         'RatingValue': {'$gte': 4}
         }

# Use count_documents to display the number of documents in the result
london_rating_value_gte_4 = establishments.count_documents(query2)
print("Number of documents in London with a rating value greater than or equal to 4:", london_rating_value_gte_4)
print("Here's the first document:","\n")

# Display the first document in the results using pprint
results2a = establishments.find(query2)     # for use below
results2b = establishments.find_one(query2)
pprint(results2b)

Number of documents in London with a rating value greater than or equal to 4: 33
Here's the first document:

{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('66301f735be444bbbcab1eea'),
 'geocode': {'latitude': Decimal128('51.369321'),
             'longitude': Decimal128('0.508551')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [123]:
# Convert the result to a Pandas DataFrame
json_results_df2 = pd.json_normalize(results2a)

# Display the number of rows in the DataFrame
print("Number of Rows in the DataFrame:", len(json_results_df2))

# Display the first 10 rows of the DataFrame
print("Here's the first 10 rows:","\n")
json_results_df2.head(10)

Number of Rows in the DataFrame: 33
Here's the first 10 rows:

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,66301f735be444bbbcab1eea,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,66301f735be444bbbcab2213,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249255999922752,51.1236228942871,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,66301f735be444bbbcab2d62,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,66301f735be444bbbcab3b5f,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,66301f735be444bbbcab3b68,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346336990594864,51.4640655517578,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,66301f735be444bbbcab426d,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,66301f735be444bbbcab637f,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,66301f745be444bbbcab6758,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,66301f745be444bbbcab675f,295107,0,PI/000020749,City Bar & Grill,Restaurant/Cafe/Canteen,1,London City Airport (Airside),London,,...,0.0479655750095844,51.5041122436523,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,66301f745be444bbbcab6760,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,0.0479655750095844,51.5041122436523,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [124]:
# Encountered difficulties with Decimal128; after many hours of effort unable to find a solution in which it is not necessary
# to determine the values of latitude and longitude. It is necessary to perform the followiong to find
# the values of latitude and longitude of 'Penang Flavours' so that they may be plugged into the variables provided.

latitude = establishments.find_one({"BusinessName" : "Penang Flavours"}, {"geocode.latitude"})
longitude = establishments.find_one({"BusinessName" : "Penang Flavours"}, {"geocode.longitude"})
pprint(latitude)
pprint(longitude)

{'_id': ObjectId('66301fac846b52e51698719f'),
 'geocode': {'latitude': Decimal128('51.49014200')}}
{'_id': ObjectId('66301fac846b52e51698719f'),
 'geocode': {'longitude': Decimal128('0.08384000')}}

In [125]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

# changing to "query" to "query3" be cpmsistemt with above
# "within 0.01 degree" is interpreted as not including 0.01, i.e., $lte and $gte are not used 
query3 = {"$and":[
    {'RatingValue': 5}, 
    {'geocode.latitude': {'$lte': (latitude + degree_search), '$gte': (latitude - degree_search)}}, 
    {'geocode.longitude': {'$lte': (longitude + degree_search), '$gte': (longitude - degree_search)}} 
    ]}
sort = [('scores.Hygiene', 1)] 

# Limiting the output of the pprint to BusinessName and geocode
fields = ['BusinessName', 'geocode']
results3 = list(establishments.find(query3, fields).sort(sort).limit(5))

# Print the results
print("Here are the top 5 establishments meeting the stated criteria:","\n")
pprint(results3)

Here are the top 5 establishments meeting the stated criteria:

[{'BusinessName': 'Plumstead Manor Nursery',
  '_id': ObjectId('66301f735be444bbbcab5d41'),
  'geocode': {'latitude': Decimal128('51.481517791748'),
              'longitude': Decimal128('0.0859939977526665')}},
 {'BusinessName': 'Lumbini Grocery Ltd T/A Al-Iman',
  '_id': ObjectId('66301f735be444bbbcab5d47'),
  'geocode': {'latitude': Decimal128('51.4871632'),
              'longitude': Decimal128('0.0916256')}},
 {'BusinessName': 'Atlantic Fish Bar',
  '_id': ObjectId('66301f735be444bbbcab5d4a'),
  'geocode': {'latitude': Decimal128('51.4867296'),
              'longitude': Decimal128('0.0912164')}},
 {'BusinessName': 'Iceland',
  '_id': ObjectId('66301f735be444bbbcab5d0a'),
  'geocode': {'latitude': Decimal128('51.4871482849121'),
              'longitude': Decimal128('0.0924199968576431')}},
 {'BusinessName': 'Howe and Co Fish and Chips - Van 17',
  '_id': ObjectId('66301f735be444bbbcab5d14'),
  'geocode': {'latitude': Decimal128('51.4875335693359'),
              'longitude': Decimal128('0.0925370007753372')}}]

In [126]:
# Convert result to Pandas DataFrame
print("Here is the Pandas DataFrame of top 5 establishments meeting the stated criteria:","\n")
json_results_df3 = pd.json_normalize(results3)
json_results_df3.head(5)

Here is the Pandas DataFrame of top 5 establishments meeting the stated criteria:

,_id,BusinessName,geocode.longitude,geocode.latitude
0,66301f735be444bbbcab5d41,Plumstead Manor Nursery,0.0859939977526665,51.481517791748
1,66301f735be444bbbcab5d47,Lumbini Grocery Ltd T/A Al-Iman,0.0916256,51.4871632
2,66301f735be444bbbcab5d4a,Atlantic Fish Bar,0.0912164,51.4867296
3,66301f735be444bbbcab5d0a,Iceland,0.0924199968576431,51.4871482849121
4,66301f735be444bbbcab5d14,Howe and Co Fish and Chips - Van 17,0.0925370007753372,51.4875335693359

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [127]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [128]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame